<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to collection", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete, form: {data: {turbo_confirm: 'Are you sure you want to destroy this book?'}} %>
</div>
